### Preprocessing Terminal Station

In [1]:
import pandas as pd

df = pd.read_csv("datasets/Terminal_station.csv", sep=";",  encoding='utf-8-sig')
df.columns.tolist()

['Date', '16-PIT-001', '16-FIT-006', '16-DIT-005']

In [2]:
#-------------------------------converting Date to detetime format--------------------------------
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
print(df['Date'].head())

/var/folders/zz/zyxvpxvq6csfxvn_n000cly40034zj/T/ipykernel_37540/3979847848.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

0   2025-07-01 00:00:00
1   2025-07-01 00:05:00
2   2025-07-01 00:10:00
3   2025-07-01 00:15:00
4   2025-07-01 00:20:00
Name: Date, dtype: datetime64[ns]

In [3]:
#-------------fixing the comma issue : (cus we have the european decima; commas instead of dot)----

cols_to_convert = ['16-PIT-001', '16-FIT-006', '16-DIT-005']

for c in cols_to_convert:
    df[c] = df[c].astype(str).str.replace(",", ".", regex=False).astype(float)

df.head(10)

                 Date   16-PIT-001   16-FIT-006   16-DIT-005
0 2025-07-01 00:00:00  2313.472900  4297.779785  1011.437988
1 2025-07-01 00:05:00  2318.177002  4279.475098  1007.171021
2 2025-07-01 00:10:00  2326.404053  4268.615234  1005.780029
3 2025-07-01 00:15:00  2309.052979  4229.458008  1005.739990
4 2025-07-01 00:20:00  2297.195068  4222.040039  1006.155029
5 2025-07-01 00:25:00  2294.169922  4174.189941  1005.440002
6 2025-07-01 00:30:00  2157.314941  4581.761230  1005.460999
7 2025-07-01 00:35:00  2081.877930  4540.120117  1005.039001
8 2025-07-01 00:40:00  2089.527100  4444.888184  1005.033020
9 2025-07-01 00:45:00  2071.048096  4503.438965  1008.776001

In [4]:

df.rename(columns={'16-PIT-001' : 'Pressure_T'}, inplace=True)
df.rename(columns={'16-FIT-006' : 'Flow_T'}, inplace=True)
df.rename(columns={'16-DIT-005' : 'Density_T'}, inplace=True)

df.head()


df.to_csv("./new_datasets/terminal_dataset.csv", index=False)