### Preprcessing Head Satation

In [5]:
import pandas as pd

df = pd.read_csv("datasets/Head_station.csv", sep=";",  encoding='utf-8-sig')
df.columns.tolist()

['Date',
 '10-DIT-509',
 '10-DIT-609',
 '10-PIT-507',
 '10-PIT-607',
 '10-PIT-416',
 '10-FIT-508']

In [6]:
#-------------------------------converting Date to detetime format--------------------------------
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
print(df['Date'].head())

/var/folders/zz/zyxvpxvq6csfxvn_n000cly40034zj/T/ipykernel_67498/3979847848.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

0   2025-07-01 00:00:00
1   2025-07-01 00:05:00
2   2025-07-01 00:10:00
3   2025-07-01 00:15:00
4   2025-07-01 00:20:00
Name: Date, dtype: datetime64[ns]

In [7]:
#-------------fixing the comma issue : (cus we have the european decima; commas instead of dot)----

cols_to_convert = ['10-DIT-509', '10-DIT-609', '10-PIT-507', '10-PIT-607', '10-PIT-416', 
'10-FIT-508']
for c in cols_to_convert:
    df[c] = df[c].astype(str).str.replace(",", ".", regex=False).astype(float)
df.head(10)

,Date,10-DIT-509,10-DIT-609,10-PIT-507,10-PIT-607,10-PIT-416,10-FIT-508
0,2025-07-01 00:00:00,995.690125,1027.256958,11.82175,3534.726074,3522.706055,4242.119141
1,2025-07-01 00:05:00,995.653320,1027.170044,12.06435,3520.537109,3547.032959,4241.749023
2,2025-07-01 00:10:00,995.616394,1027.082031,12.38934,3548.114014,3536.379883,4338.628906
3,2025-07-01 00:15:00,995.579590,1026.994019,12.13432,3533.294922,3521.965088,4374.752930
4,2025-07-01 00:20:00,995.542725,1026.906006,12.05495,3613.928955,3597.782959,4233.666992
5,2025-07-01 00:25:00,995.505920,1262.832031,12.23758,4779.706055,4761.679199,4481.708984
6,2025-07-01 00:30:00,995.469116,1603.510986,12.42020,4899.333984,4910.603027,4093.750977
7,2025-07-01 00:35:00,995.432312,1606.296021,11.94357,4894.967773,4906.178223,4029.677979
8,2025-07-01 00:40:00,995.395386,1601.588989,12.39208,4898.250000,4903.940918,4127.561035
9,2025-07-01 00:45:00,995.358582,1604.258057,12.10467,4896.645020,4907.172852,4043.124023

In [8]:
#------------------------computation of the averages for density & pressure----------------------------
#density : 
df['Density_HS_Average'] = df[['10-DIT-509', '10-DIT-609']].mean(axis=1)

#pressure
df['Pressure_HS_Average'] = df[['10-PIT-507', '10-PIT-607']].mean(axis=1)

df.rename(columns={'10-FIT-508' : 'Flow_HS'}, inplace=True)

df = df.drop(columns=['10-DIT-509', '10-DIT-609', '10-PIT-507', '10-PIT-607', '10-PIT-416'], axis=1)
df.head()


df.to_csv("./new_datasets/Head_dataset.csv", index=False)