### Preprocessing PMS et VS

In [1]:
import pandas as pd

df = pd.read_csv("datasets/PMS_ET_SV.csv", sep=";",  encoding='utf-8-sig')
df.columns.tolist()

['Date',
 '11-PIT-001',
 '12-PIT-001',
 '12-PIT-003',
 '12-PIT-005',
 '13-PIT-001',
 '14-PIT-001',
 '15-PIT-001']

In [2]:
#-------------------------------converting Date to detetime format--------------------------------
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
print(df['Date'].head())

/var/folders/zz/zyxvpxvq6csfxvn_n000cly40034zj/T/ipykernel_37545/3979847848.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

0   2025-07-01 00:00:00
1   2025-07-01 00:05:00
2   2025-07-01 00:10:00
3   2025-07-01 00:15:00
4   2025-07-01 00:20:00
Name: Date, dtype: datetime64[ns]

In [3]:
#-------------fixing the comma issue : (cus we have the european decima; commas instead of dot)----

cols_to_convert = ['11-PIT-001', '12-PIT-001', '12-PIT-003', '12-PIT-005', '13-PIT-001', 
'14-PIT-001', '15-PIT-001']

for c in cols_to_convert:
    df[c] = df[c].astype(str).str.replace(",", ".", regex=False).astype(float)

df.head(10)

,Date,11-PIT-001,12-PIT-001,12-PIT-003,12-PIT-005,13-PIT-001,14-PIT-001,15-PIT-001
0,2025-07-01 00:00:00,1090.795044,2064.676025,2079.925049,2025.706055,2924.633057,5020.472168,2361.497070
1,2025-07-01 00:05:00,1114.703979,2105.525879,2131.200928,2067.266113,2974.745117,5079.658203,2404.169922
2,2025-07-01 00:10:00,1146.083984,2145.028076,2150.552002,2094.788086,2969.773926,5081.241211,2413.079102
3,2025-07-01 00:15:00,1206.381958,2189.333008,2200.471924,2140.256104,2992.614990,5102.819824,2445.605957
4,2025-07-01 00:20:00,1202.629028,2203.731934,2230.217041,2162.746094,3017.419922,5149.336914,2514.121094
5,2025-07-01 00:25:00,1786.676025,2356.533936,2366.060059,2316.239014,3068.454102,5191.568848,2561.498047
6,2025-07-01 00:30:00,2271.816895,3111.925049,3130.147949,3088.028076,3622.842041,5560.867188,2653.104980
7,2025-07-01 00:35:00,2267.376953,3107.980957,3116.486084,3062.335938,3563.596924,5466.437988,2576.297119
8,2025-07-01 00:40:00,2302.743896,3160.202881,3166.531982,3111.870117,3574.393066,5480.424805,2587.756104
9,2025-07-01 00:45:00,2338.111084,3183.919922,3202.989990,3139.400879,3585.187988,5497.556152,2634.793945

In [4]:
#------------------------computation of the averages for density & pressure----------------------------
#pressure : 
df['Presure_SV_Average'] = df[['12-PIT-001', '12-PIT-003', '12-PIT-005']].mean(axis=1)

df = df.drop(columns=['12-PIT-001', '12-PIT-003', '12-PIT-005'], axis=1)
df.head()

df.to_csv("./new_datasets/Cleaned_PMS_SV_station.csv", index=False)